/* My style goes here */

nav{
    background-color: #28A745;
 
    
}

body {
    padding-top:40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

section h5{
    font-weight: 500;
}

.card-title{
    font-weight: 300;
}



#formsec{
    background-color: #28A745;
}

#inicio{
    margin-top: 25vw;
}

@media (min-width: 768px) {
    nav{
        font-size: 2vw;
    }

    #inicio{
        margin-top: 15vw;
    }
}